@font-face {
    font-family: 'Cinzel-Regular';
    src:url('../Fonts/Cinzel-Regular.ttf.woff') format('woff'),
        url('../Fonts/Cinzel-Regular.ttf.svg#Cinzel-Regular') format('svg'),
        url('../Fonts/Cinzel-Regular.ttf.eot'),
        url('../Fonts/Cinzel-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body {
      font-family: 	 sans-serif;
      margin:            0;
      padding:           0;
}
h1 {

    margin: 		0.2em 0 ;
    font-family: 	'Cinzel-Regular', serif;
    text-align:  	center;
    font-size:   	7em;
    font-weight: 500;
    letter-spacing: 5px;
}
h1 span {
    font-size: 1.2em;
}
#top-navbar {
    background-color: #1B1F20;
    padding: 0px 5em;
}
	#top-navbar a.nav-link {
	    display: inline-block;
	    padding: 0.9em 2em 0.3em;
	    color: #FFF;
	    letter-spacing: 0.1em;
  	    text-decoration: none;
	}
	#top-navbar a.nav-link:hover, 
	#top-navbar a.selected {
	    background-color: #0B0D0D;
	}
	#top-navbar a.selected {
    	font-family: 	'Cinzel-Regular', serif; 
	}



#social-link {
    text-align: center;
    margin: 2em 0 0 0;
}
#social-link img {
    width:80px; /* Max 120px  */
}
#social-link a {
    margin: 0 0.7em;
    opacity: 0.8;
}
#social-link a:hover {
    opacity: 1;
}
.block {
    text-align: center;
}

